<div id="send-sms-panel" class="rightContent" ng-show="viewMode == 'sms'">

    <div id="accordion" dwaccordion>
        <h3>Send SMS</h3>
        <div class="message-box">
            <form name="smsForm" id="smsForm">
                <div class="sender">
                    <div id="{{ 'msisdn-holder-' + selectedHandset.simCard.msisdn}}" class="smsTo" ng-show="operatorSelected()" ng-repeat="selectedHandset in smsHandsets track by $index">
                   		<span>{{selectedHandset.simCard.msisdn}}</span>
						<i class="fa fa-times-circle" ng-click="removeSelection(selectedHandset)"></i>
                    </div>
                </div>

				<div class="receiver">
                    <input type="text" class="ui-corner-all" placeholder="Enter phone number" name="msisdn" ng-model="sms.to" ng-minlength="3" ng-maxlength="20" ng-pattern="/^(\+?\d*)$/" ng-focus="smsForm.msisdn.focus=true" required ng-class="{error: smsForm.msisdn.$invalid && smsForm.text.focus}" />
                    <div class="ui-widget errorMessage" ng-show="smsForm.msisdn.$error.required && smsForm.msisdn.focus">
                        <div class="ui-state-error ui-corner-all" style="padding: 0 5px;">
							<span class="ui-icon ui-icon-alert"
                                  style="float: left; margin-right: .3em; margin-top: 5px"></span>
                             Please enter MSISDN
                        </div>
                     </div>
                     <div class="ui-widget errorMessage" ng-show="smsForm.msisdn.$error.minlength">
                        <div class="ui-state-error ui-corner-all" style="padding: 0 5px;">
							<span class="ui-icon ui-icon-alert"
                                  style="float: left; margin-right: .3em; margin-top: 5px"></span>
                             MSISDN is required to be at least 3 characters long
                        </div>
                     </div>
                     <div class="ui-widget errorMessage" ng-show="smsForm.msisdn.$error.maxlength">
                        <div class="ui-state-error ui-corner-all" style="padding: 0 5px;">
							<span class="ui-icon ui-icon-alert"
                                  style="float: left; margin-right: .3em; margin-top: 5px"></span>
                             MSISDN cannot be longer than 20 characters
                        </div>
                     </div>
                     <div class="ui-widget errorMessage" ng-show="smsForm.msisdn.$error.pattern">
                        <div class="ui-state-error ui-corner-all" style="padding: 0 5px;">
							<span class="ui-icon ui-icon-alert"
                                  style="float: left; margin-right: .3em; margin-top: 5px"></span>
                             MSISDN may be digits only. '+' optional
                        </div>
                     </div>
                 </div>
               
                <div id="noty_container"></div>
                
                <div id="sms-sending-statuses-container" ng-repeat="status in smsSendingStatuses">
                	<div noty noty-status="{{status.status}}" noty-message="{{status.message}}"></div>
                </div>
                               
                <div class="messageBox">
                    <textarea class="ui-corner-all" rows="6" placeholder="Enter message" name="text" ng-model="sms.message" required ng-focus="smsForm.text.focus=true" ng-class="{error: smsForm.text.$invalid && smsForm.text.focus}"></textarea>
                    <div class="ui-widget errorMessage" ng-show="smsForm.text.$error.required && smsForm.text.focus">
                        <div class="ui-state-error ui-corner-all" style="padding: 0 5px;">
							<span class="ui-icon ui-icon-alert"
                                  style="float: left; margin-right: .3em; margin-top: 5px"></span>
                             Please enter text
                        </div>
                     </div>
                </div>
                <div id="sms-form-actions-buttons">
                    <input id="send-sms-button" type="button" class="ui-button ui-state-active ui-corner-all"
                           value="Send" ng-click="sendSms()"
                           ng-disabled="smsForm.$invalid || !operatorSelected()" ng-class="{'inactive inactive_button' : smsForm.$invalid || !operatorSelected()}" >
                    <input id="clear-sms-form-button" type="button" class="ui-button ui-state-active ui-corner-all" value="Clear" ng-click="clearSms()">
                </div>
            </form>
        </div>
    </div>

</div>
