html {
    font-family: "Arial";
    font-size: 13px;
    background: #F5F5F5;
}

body {
    margin: 0;
}

.content {
    padding: 15px;
}

.tcuiContent {
    padding: 15px;
}

.container {
    width: 100%;
}

.leftContent {
    float: left;
    height: 100%;
    max-width: 250px;
    margin-right: 25px;
}

.rightContent {
    min-width: 250px;
    height: 100%;
}

.innerContent {
    height: 100%;
}

.tabsbox {
    border-radius: 8px;
    border: 1px solid #999;
    overflow: hidden;
    display: inline-table;
    width: 222px;
    margin-bottom: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.tabs {
    color: #003399;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    display: table-cell;
    background: #fff;
    cursor: pointer;
}

.vnc-tab {
    border-top-left-radius: 7px;
}

.tabs.active {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0048d8+1,0048d8+50,003399+51,003399+100 */
    background: #003399; /* Old browsers */
    background: #003399 url("dimoco-theme/images/ui-bg_glass_20_003399_1x400.png") 50% 50% repeat-x;
    color: #fff;
}

.sms-tab {
    border-left: 1px solid #999;
    border-top-right-radius: 7px;
}

.tabs:hover {
    background: #003399 url("dimoco-theme/images/ui-bg_glass_20_003399_1x400.png") 50% 50% repeat-x;
    color: #fff;
}

.tabs:active {
    background: #003399;
}

.tabs-row {
    display: table-row;
}

.handset {
    padding: 10px;
    border: 1px solid #999;
    margin-bottom: 10px;
    min-width: 202px;
}

.copy-msisdn-icon {
    padding-left: 5px;
    cursor: pointer
}

.signal_container {
    width: 17px;
    float: left;
    padding: 4px;
    margin-right: 5px;
    margin-top: -1px;
    position: relative;
    top: 15px;
}
.volOne, .volTwo,
.volThree, .volFour {
    width: 4px;
    bottom: 7px;
    position: absolute;
}
.volOne {
    height: 6px;
}

.volTwo {
    height: 9px;
    margin-left: 5px;
}

.volThree {
    height: 12px;
    margin-left: 10px;
}

.volFour {
    height: 15px;
    margin-left: 15px;
}

.active {
    background: rgb(46, 91, 2);
}

.inactive {
    background: rgba(0, 0, 0, 0.25) !important;
}

.networkType {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    position: absolute;
    bottom: 15px;
    margin-left: -6px;
    font-weight: bold !important;
    color: rgb(46, 91, 2);
}

.battery_container {
    width: 21px;
    padding: 5px;
    margin-right: 5px;
    margin-top: 3px;
}

.battery {
    position: relative;
    display: block;
    background: rgb(46, 91, 2);
    width: 25px;
    height: 10px;
}

.battery:before {
    content: "";
    display: block;
    background: transparent;
    border: 2px solid rgb(46, 91, 2);
    margin: -4px;
    width: 22px;
    height: 14px;
    position: absolute;
}

.battery:after {
    content: "";
    display: block;
    background: white;
    border: 2px solid rgb(46, 91, 2);
    margin: 0px 20px;
    width: 1px;
    height: 6px;
    position: absolute;
}

.left {
    float: left;
}

.right {
    float: right;
}

.header-right {
    float: right;
    text-align: right;
}

#header {
    margin-bottom: -20px;
}

.handset {
    display: inline-block;
    background: #fff;
}

.onlineInfo {
    background: rgb(46, 91, 2);
    border-radius: 15px;
    border: 1px solid rgb(46, 91, 2);
    color: #ffffff;
    font-size: 10px;
    font-family: Arial-Bold;
    font-weight: bold !important;
    display: inline-block;
    padding: 0px 5px;
    margin-bottom: 7px;
    margin-left: 7px;
    cursor: pointer;
}

.signal_container {
    margin-top: 10px;
    margin-left: 1px;
    margin-bottom: 12px;
}

.handset-status {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 10px;
}

.operator, .msisdn {
    margin-bottom: 3px;
    font-weight: bold;
}

.msisdn {
    line-height: 20px;
    margin-left: 4px;
}

.lock_switch {
    clear: both;
}

.hs_locked_by_other {
    background: #FFE2E1;
    color: rgb(164, 0, 0);
    border: 1px solid rgb(164, 0, 0);
}

.hs_not_locked {
    background: #fff;
    color: #555;
}

.hs_locked_by_me {
    background: #E6FFC4;
    color: rgb(46, 91, 2);
    border: 1px solid rgb(46, 91, 2);
}

.battery:before, .battery:after {
    border-color: #333;
}

.battery {
    background: #333;
}

.offline > .battery:before, .offline > .battery:after {
    border-color: #990000;
}

.offline > .battery {
    background: #990000;
}

.active {
    background: #333;
}

.networkType {
    color: #333;
}

.locked_by {
    font-weight: bold;
    height: 26px;
    line-height: 26px;
    margin-top: 5px;
    padding-left: 5px;
    float: left;
}

.lock_by_other {
    float: left;
    height: 26px;
    margin-top: 8px;
    line-height: 26px;
}

.toggle {
    background-color: #00dc00;
    border-radius: 20px;
    box-shadow: 0 1px 1px 0 rgba(255, 255, 255, .4), 0 1px 0 0 rgba(0, 0, 0, 0.10) inset;
    cursor: pointer;
    width: 50px;
    height: 26px;
    overflow: hidden;
    position: relative;
    margin: 5px 0 0 0;
    transition: all .25s linear;
    float: left;
}

.toggle .slide {
    color: #00d100;
    background: #fff;
    border-radius: 50%;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 3px;
    left: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 1px 0 rgba(255, 255, 255, .8) inset;
    transition: all 0.3s cubic-bezier(0.43, 1.3, 0.86, 1);
}

.toggle .slide span {
    text-shadow: 0 1px 1px rgba(255, 255, 255, .7), 0 0 1px rgba(0, 0, 0, .3);
}

.toggle .slide:before,
.toggle .slide:after {
    color: #00ba00;
    content: "\f09c";
    font-family: fontAwesome;
    font-size: 12px;
    font-weight: 400;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
    -webkit-font-smoothing: antialiased;
    position: absolute;
}

.toggle .slide:before {
    right: -18px;
    color: #fff;
    opacity: 0.8;
}

.toggle .slide:after {
    content: "\f023";
    left: -16px;
    color: #fff;
}

.toggle.on {
    background: #993333;
}

.toggle.on .slide {
    left: 26px;
    color: #990000;
}

.handset.selected {
    -webkit-box-shadow: 0px 0px 4px 2px #666699;
    -moz-box-shadow: 0px 0px 4px 2px #666699;
    box-shadow: 0px 0px 4px 2px #666699;
}

.handset.offline {
    background: #DDD;
    color: #333;
}

.onlineInfo.offline {
    background: #990000;
    border-color: #990000;
}

.charging {
    color: #999;
    font-size: 12px;
    position: relative;
    top: -1px;
    left: 6px;
    -webkit-font-smoothing: antialiased;
    float: left;
    z-index: 1;
}

.offline > .charging {
    display: none !important;
}

.balance_check {
    background: none;
    padding: 2px 6px;
}

.balance_check {
    font-weight: bold;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    background: inherit;
    color: inherit;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.02) 50%, rgba(0, 0, 0, 0.03) 51%, rgba(0, 0, 0, 0.06) 54%, rgba(0, 0, 0, 0.06) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(48%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.02)), color-stop(51%, rgba(0, 0, 0, 0.03)), color-stop(54%, rgba(0, 0, 0, 0.06)), color-stop(100%, rgba(0, 0, 0, 0.06))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.02) 50%, rgba(0, 0, 0, 0.03) 51%, rgba(0, 0, 0, 0.06) 54%, rgba(0, 0, 0, 0.06) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.02) 50%, rgba(0, 0, 0, 0.03) 51%, rgba(0, 0, 0, 0.06) 54%, rgba(0, 0, 0, 0.06) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.02) 50%, rgba(0, 0, 0, 0.03) 51%, rgba(0, 0, 0, 0.06) 54%, rgba(0, 0, 0, 0.06) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.02) 50%, rgba(0, 0, 0, 0.03) 51%, rgba(0, 0, 0, 0.06) 54%, rgba(0, 0, 0, 0.06) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#0f000000', GradientType=0); /* IE6-9 */
}

.balance_check:disabled {
    border: 1px solid #999;
    border-radius: 4px;
    background: #DDD;
    color: #aaa;
}

.balance_check:active {
    background: rgba(0, 0, 0, 0.2);
}

.balance_check:focus {
    box-shadow: 0 0 1px 1px #666;
}

.balance_check {
    margin-right: 10px;
}

.balance_container {
    margin-top: 7px;
    padding-top: 7px;
    border-top: 1px solid rgba(0, 0, 0, 0.1)
}

.balance {
    font-weight: bold;
    line-height: 22px;
    padding-right: 3px;
    display: inline-block;
}

.clear {
    clear: both;
}

.not_part_of_design {
    background: #ccffcc;
    padding: 15px;
}

.tabs.inactive {
    color: #888;
    background: #aaa;
    cursor: default;
}

.vnc {
    width: 400px;
    height: 700px;
    background: darkgray;
    border: 1px solid rgba(0, 51, 153, 0.20);
    border-top: none;
}

.vnc_control {
    padding: 9px;
    background: rgba(0, 51, 153, 0.15);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid rgba(0, 51, 153, 0.20);
    border-bottom: none;
}

.vnc_container {
    float: left;
}

.vnc-general-info {
    text-align: center;
}

.vnc_msisdn {
    font-weight: bold;
    color: #003399;
    font-size: 12px;
    text-align: center;
}

.vnc_reload {
    width: 20px;
    height: 20px;
    float: left;
    color: #003399;
    padding: 0 10px 0 5px;
    font-size: 16px;
    cursor: pointer;
}

.vnc_play {
    float: right;
    color: #003399;
    font-size: 16px;
    padding: 0 5px 0 10px;
    cursor: pointer;
}

.vnc_play .fa:hover, .vnc_reload .fa:hover {
    color: rgba(0, 51, 153, 0.70);
}

.vnc_operator {
    font-size: 11px;
}

.message_history_container {
    min-width: 250px;
    margin-left: 670px;
}

.message_history_container_sms {
    margin-left: 250px;
}

.message-box {
    display: block;
    height: 265px;
}

.message_history_search {
    padding: 10px 10px 5px 10px;
    background: rgba(0, 51, 153, 0.15);
    text-align: center;
    border: 1px solid rgba(0, 51, 153, 0.2);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-height: 88.5px;
}

.message_history_search_vnc {
    padding: 10px 10px 5px 10px;
    background: rgba(0, 51, 153, 0.15);
    text-align: center;
    border: 1px solid rgba(0, 51, 153, 0.2);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#filter_app, #filter_dir, #filter_days {
    font-size: 11px;
    margin-right: 15px;
    display: inline-block;
    margin-bottom: 5px;
}

#filter_app1, #filter_dir1, #filter_days1 {
    padding-bottom: 5px;
}

#filter_app span, #filter_days span, #filter_dir span {
    padding: 5px 10px;
}

.message_history_search .headline, .message_history_search_vnc .headline {
    font-weight: bold;
    color: #003399;
    margin-top: -5px;
    margin-bottom: 0px;
    font-size: 12px;
}

.message_history {
    background: #fff;
    padding: 7px 10px 10px 10px;
    border: 1px solid rgba(0, 51, 153, 0.20);
    border-top: none;
    border-bottom: none;
}

.sms_from, .sms_to {
    margin-bottom: 5px;
}

.sms_text {
    display: table-cell;
    padding: 0 10px;
}

.sms_info {
    display: table-cell;
    margin-right: 20px;
    height: 100%;
    padding: 0 10px;
    white-space: nowrap;
    font-size: 13px;
    font-weight: bold;
    color: #003399
}

.sms_vnc_text_wrap {
    display: -moz-deck;
    min-width: 0px;
    word-wrap: break-word;
    word-break: break-word;
    width: 100%;
}

.sms_text_wrap {
    word-wrap: break-word;
}

.message {
    background: #efefef;
    border: 1px solid rgba(0, 51, 153, 0.30);
    padding: 5px 0;
    border-radius: 5px;
    color: #333;
    font-size: 14px;
    margin-top: 8px;
}

.message_pager {
    min-height: 30px;
    padding: 6px 10px;
    text-align: center;
    font-weight: bold;
    color: #003399;
    background: rgba(0, 51, 153, 0.15);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid rgba(0, 51, 153, 0.20);
}

.message_pager_info {
    display: inline-block;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}

.next_button, .back_button {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    padding: 2px 2px 0 2px;
    background: #fff;
    color: #003399;
    border: 1px solid #003399;
    border-radius: 5px;
    font-size: 22px;
}

.next_button {
    float: right;
    padding-left: 5px;
}

.back_button {
    float: left;
    padding-right: 5px;
}

.next_button:hover, .back_button:hover {
    background: #003399; /* Old browsers */
    background: -moz-linear-gradient(top, #0048d8 1%, #0048d8 50%, #003399 51%, #003399 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #0048d8), color-stop(50%, #0048d8), color-stop(51%, #003399), color-stop(100%, #003399)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0048d8 1%, #0048d8 50%, #003399 51%, #003399 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0048d8 1%, #0048d8 50%, #003399 51%, #003399 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0048d8 1%, #0048d8 50%, #003399 51%, #003399 100%); /* IE10+ */
    background: linear-gradient(to bottom, #0048d8 1%, #0048d8 50%, #003399 51%, #003399 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0048d8', endColorstr='#003399', GradientType=0); /* IE6-9 */

    color: #fff;
}

.page_number {
    display: inline-block;
    line-height: 30px;
    height: 30px;
}

.searchbar input {
    font-size: 14px;
    padding: 7px 10px;
    width: 100%;
    margin: 5px 0;
    border: 1px solid rgba(0, 51, 153, 0.30);
    border-radius: 5px;
    background: #efefef;
    box-sizing: border-box;
}

.tc_button {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0048d8+1,0048d8+50,003399+51,003399+100 */
    background: #003399; /* Old browsers */
    background: -moz-linear-gradient(top, #0048d8 1%, #0048d8 50%, #003399 51%, #003399 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #0048d8), color-stop(50%, #0048d8), color-stop(51%, #003399), color-stop(100%, #003399)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0048d8 1%, #0048d8 50%, #003399 51%, #003399 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0048d8 1%, #0048d8 50%, #003399 51%, #003399 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0048d8 1%, #0048d8 50%, #003399 51%, #003399 100%); /* IE10+ */
    background: linear-gradient(to bottom, #0048d8 1%, #0048d8 50%, #003399 51%, #003399 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0048d8', endColorstr='#003399', GradientType=0); /* IE6-9 */
}

.tc_buttons {
    margin: 15px auto;
    text-align: center;
}

.tc_button {
    padding: 9px 15px;
    border: 1px solid #333;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    margin: 0 3px;
}

.tc_button:disabled {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#848484+0,878787+50,878787+50,7a7a7a+51,7f7f7f+100 */
    background: #aaa; /* Old browsers */
    border: 1px solid #333;
    color: #888;
}

.tc_button:focus {
    outline: 0;
}

.tc_button:active {
    background: #003399;
    border: 1px solid #333;
    color: #ccc;
}

.ui-state-active:active {
    color: #ccc;
    background: #003399 !important;
}

.ui-state-active:disabled {
    cursor: default;
    background: #aaa;
    border: 1px solid #333;
    color: #888;
}

.filters {
    background: transparent;
    border: none;
    padding: 5px 0 0 0 !important;
    margin: 0;
}

#filters-container {
    margin-bottom: 5px;
}

.hidden {
    display: none;
    visibility: hidden;
}

table.message_table {
    width: 100%;
    border-radius: 5px;
    font-size: 12px;
    border-spacing: 0;
    margin-top: 6px;
    border: 1px solid rgba(0, 51, 153, 0.2);
}

table.message_table tr th {
    padding: 5px 10px;
}

table.message_table tr:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

table.message_table tr th:last-child {
    border-top-right-radius: 5px;
    width: 72%;
}

table.message_table tr th:first-child {
    border-top-left-radius: 5px;
}

table.message_table tr td {
    padding: 5px 10px;
}

table.message_table tr td:last-child {
    width: 98%;
    word-wrap: break-word;
    display: -moz-inline-grid;
    word-break: break-word;
}

table.message_table tr:nth-of-type(2n) {
    background: rgba(0, 51, 153, 0.15);
    background: #efefef;
}

table.message_table .time, table.message_table .direction,
table.message_table .mobile_received {
    white-space: nowrap;
}

.refresh_btn {
    text-align: right;
    float: right;
    width: 150px;
}

.messagesOnPage {
    text-align: left;
    float: left;
    width: 150px;
}

#messagesOnPage {
    font-size: 12px;
    line-height: 12px;
    width: 130px;
}

.ui-selectmenu-button span.ui-selectmenu-text {
    padding: 7px 10px;
    line-height: 13px;
}

.messagesOnPage span.ui-widget {
    background: #003399 url("dimoco-theme/images/ui-bg_glass_20_003399_1x400.png") 50% 50% repeat-x;
    color: #fff;
    font-size: 13px;
}

.messagesOnPage span.ui-icon {
    background-image: url("dimoco-theme/images/ui-icons_ffffff_256x240.png");
    color: #fff;
}

.pagination {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid rgba(0, 51, 153, 1);
    background: #fff;
}

.pagination .page {
    display: table-cell;
    padding: 7px 10px;
    border-right: 1px solid rgba(0, 51, 153, 1);
}

.pagination .page:last-child {
    border: none;
}

.pagination .page.active {
    background: #003399;
}

.pagination .page.inactive {
    background: #aaa;
}

.pagination .page a {
    color: #003399;
    text-decoration: none;
}

.pagination .page.active a {
    color: #fff;
    text-decoration: none;
}

.pagination .page.inactive a {
    color: #888;
    cursor: default;
}

#accordion {
    margin-left: 250px;
    margin-bottom: 10px;
}

.smsTo {
    display: inline-block;
    margin-right: 10px;
    border: 1px solid rgba(0, 51, 153, 0.2);
    padding: 0px 5px;
    border-radius: 5px;
    background: #efefef;
    color: #003399;
}

.sender {
    height: 25px;
    line-height: 25px;
    margin-bottom: 18px;
}

.receiver, .messageBox {
    margin-bottom: 15px;
}

.receiver input {
    border: 1px solid rgba(0, 51, 153, 0.2);
    background: #efefef;
    padding: 5px 10px;
    width: 275px;
    color: #333;
    display: inline-block;
}

.messageBox textArea {
    border: 1px solid rgba(0, 51, 153, 0.2);
    background: #efefef;
    padding: 5px 10px;
    width: 275px;
    color: #333;
    display: inline-block;
}

.ui-match {
    background: #ffff00;
}

.error {
    border: 1px solid #ff0700 !important;
}

.errorMessage {
    display: inline-block;
    vertical-align: top;
    font-size: 12px !important;
}

.errorMessage div {
    height: 26px;
    line-height: 26px;
    width: 350px;
}

.text-center {
    text-align: left;
    color: #999;
    font-size: 200%;
}

#footer {
    clear: both;
    position: relative;
    bottom: 0;
    height: 40px;
    margin-top: 40px;
    text-align: center;
}

#page_content > div > div > div > a {
    text-decoration: none;
}

#wrapper div {
    height: 20px;
    width: calc(100% / 2);
    display: inline-block;
}

/* main page layout*/

.testcenter {
    padding: 10px 10px 0 10px;
    float: left;
    border: 2px solid #999;
    border-radius: 10px;
    width: 200px;
    margin: 5px 10px;
    -webkit-box-shadow: inset 0px 0px 12px 3px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: inset 0px 0px 12px 3px rgba(0, 0, 0, 0.30);
    box-shadow: inset 0px 0px 12px 3px rgba(0, 0, 0, 0.30);
}

.tc_name {
    margin: 5px auto 0 auto;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 2px;
    font-size: 18px;
    font-weight: bold;
}

.tc_status {
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.MAINTENANCE {
    background: rgb(216, 189, 255);
    color: rgb(142, 0, 255);
    border: 2px solid rgb(142, 0, 255);
}

.OFFLINE {
    background: rgb(255, 196, 193);
    color: rgb(164, 0, 0);
    border: 2px solid rgb(164, 0, 0);
}

.OK, .WARNING, .CRITICAL {
    background: rgb(255, 255, 255);
    color: #333;
}

.CRITICAL, .WARNING {
    color: rgb(164, 0, 0);
}

.tc_button {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0048d8+1,0048d8+50,003399+51,003399+100 */
    background: #003399; /* Old browsers */
    background: -moz-linear-gradient(top, #0048d8 1%, #0048d8 50%, #003399 51%, #003399 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #0048d8),
    color-stop(50%, #0048d8), color-stop(51%, #003399),
    color-stop(100%, #003399)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0048d8 1%, #0048d8 50%, #003399 51%,
    #003399 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0048d8 1%, #0048d8 50%, #003399 51%, #003399 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0048d8 1%, #0048d8 50%, #003399 51%, #003399 100%); /* IE10+ */
    background: linear-gradient(to bottom, #0048d8 1%, #0048d8 50%, #003399 51%, #003399 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0048d8',
    endColorstr='#003399', GradientType=0); /* IE6-9 */
}

.tc_buttons {
    margin: 15px auto;
    text-align: center;
}

.tc_button {
    padding: 9px 15px;
    border: 1px solid #333;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    margin: 0 3px;
}

.tc_button:disabled {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#848484+0,878787+50,878787+50,7a7a7a+51,7f7f7f+100 */
    background: #aaa; /* Old browsers */
    border: 1px solid #333;
    color: #888;
}

.tc_button:focus {
    outline: 0;
}

.tc_button:active {
    background: #003399;
    border: 1px solid #333;
    color: #ccc;
}

.tc_status .ping {
    font-size: 10px;
    font-weight: bold;
}

.tc_buttons.admin {
    margin-top: -7px;
    margin-bottom: 15px;
}

.tc_button.admin {
    padding: 3px 26px;
}

#dialog-message {
    display: none;
}

.tc_infos .key {
    font-weight: bold;
    padding: 3px 10px 3px 3px;
    min-width: 170px;
    font-size: 14px;
}

.tc_infos .value {
    font-size: 14px;
}

​ /* FROM BOOTSTRAP */
    /*todo  check if this class is used anywhere except on handset info elements
    /merge if not, remove it*/
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.popover-panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-body {
    padding: 15px;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.panel-info {
    border-color: #bce8f1;
}

.form-control {
    display: block;
    width: 100%;
    /*   height: 34px; */
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #003399;
    background-image: none;
    /* border: 1px solid #ccc; */
    /* border-radius: 4px; */
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #999;
}

.form-control::-webkit-input-placeholder {
    color: #999;
}

.btn-group > .btn {
    line-height: normal;
    font-size: 1.1em;
}

.text-muted {
    display: block;
}

.navigation-right-arrow {
    float: right;
}

/* JQuery UI overrides */

.ui-accordion .ui-accordion-header {
    margin: 0 !important;
}

.inactive_button {
    border: 1px solid rgba(0, 0, 0, 0.25) !important;
}

/* Angular overrides */
div[id*="nspopover-"] {
    z-index: 2;
}